body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: rgba(37, 36, 36, 0.603);
    display: flex;
    background-image: url(7253c266f077d23fb3720ca72d681a4e.jpg);
    background-size: cover;
   background-blend-mode: multiply;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1 {
    color: white;
    text-shadow: 2px 2px 4px black;
    font-style: italic;
}

.contenedor-carrera {
    margin-top: 40px;
    width: 80%;
    max-width: 600px;
    height: 150px;
    border: 2px solid rgb(231, 226, 226);
    border-radius: 10px;
    background-color: rgb(54, 54, 54);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Este es el truco mágico para el centro exacto */
    font-style: italic;
    font-size: 80px;      /* Tamaño grande y potente */
    font-weight: bold;
    color: rgb(245, 245, 245); 
    text-shadow: gray 2px 2px 4px; /* Sombra para mejor visibilidad */
    font-family: Arial, sans-serif;
    z-index: 1;
}

.pista {
    position: relative;
    width: 100%;
    height: 100px;
    border-bottom: 5px dashed rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Coloca el carro al final (derecha) */
}

#carro-contenedor {
    padding-right: 20px;
    position: relative;
    z-index: 2;
    transition: transform 2s ease-in; 
}

#carro {
    font-size: 60px;
}

/* Cuando el tiempo es < 5 */
.vibrar {
    animation: motor 0.1s infinite;
}

/* Acción final: corre hacia la IZQUIERDA */
.arrancar {
    transform: translateX(-120vw); 
}

#startButton {
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: #8b0b0b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px rgb(212, 117, 8);
    transition: background-color 0.3s, box-shadow 0.3s;
}
    
 #startButton:disabled {
    background-color: #6c757d;
    box-shadow: 0 2px #494d4a;
    transform: translateY(2px);
    cursor: not-allowed;
    color: white;

}

footer {
    margin-top: 20px;
    color: white;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
a {
    color: #fffbfb;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(241, 236, 236);
}

@keyframes motor {
    0% { transform: translateY(0); }
    50% { transform: translateY(-4px); }
    100% { transform: translateY(0); }
}
